.text-align-start {
  text-align: start;

}

mat-list-item {
  padding: 0px 0px 0px 0px;
}

.show-qtd {
  padding: 0px 0px 0px 1150px;
}

.qtd {
  font-size: 18px;
  font-weight: bolder;

}

// Lanche

#coluna-lanche-nome {
  width: 20%;
}

#coluna-lanche-descricao {
  width: 74%;
}

#lanche-nome {
  padding: 0px 172px 0px 4px;
  text-align: start;
}

#lanche-descricao {
  padding: 0px 48em 0px 0px;
  text-align: start;
}

//--------------

// Bebida
.bebidas-form {
  padding: 10px 0px 10px 0px;

}

#coluna-bebida-nome {
  width: 30%
}

#coluna-bebida-marca {
  width: 30%
}

#coluna-bebida-sabor {
  width: 20%
}

#coluna-bebida-litragem {
  width: 14%;
}

#bebida-nome {
  padding: 0px 205px 0px 3px;
}

#bebida-marca {
  padding: 0px 200px 0px 88px;
}

#bebida-litragem {
  padding: 0px 7em 0px 75px;
}

#bebida-sabor {
  padding: 0px 11.5em 0px 0px;
}

//---------
.width-100 {
  width: 100%;
}

.text {
  display: inline-block;
  text-align: start;
  font-size: 18px;
  font-style: normal;
  padding: 0px 98px 0px 0px;
}


.pagamento-data {
  width: 33%;
  padding: 0px 0px 0px 0px;
}

.pagamento-select {

  text-align: start;
}

.endereco {
  padding: 0px 10px 0px 0px;
  width: 600px;
}

.endereco-numero {
  width: 100px;
}
