<mat-card>
  <mat-card-header>
    <mat-toolbar color="primary"> Dados do Pedido </mat-toolbar>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="form" class="min-width">
      <div>
        <mat-accordion multi>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Lanches </mat-panel-title>
              <mat-panel-description class="show-qtd">
                Qtd. {{ show_qtd_lanche }}
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-list class="text-align-start">
              <tr class="width-100">
                <th class="lanche-nome">Lanche</th>
                <th class="lanche-descricao">Descrição</th>
                <th class="lanche-preco">Preço</th>
              </tr>
              <mat-list-item *ngFor="let lanche of lanches$ | async">
                <table class="width-100">
                  <tr>
                    <td class="colunas-lanche-nome">{{ lanche.nome }}</td>
                    <td class="colunas-lanche-descricao">
                      {{ lanche.descricao }}
                    </td>
                    <td class="colunas-lanche-preco">R$ {{ lanche.preco }}</td>
                  </tr>
                </table>
                <div matListItemMeta>
                  <button
                    mat-icon-button
                    color="warn"
                    (click)="onRemoveLanche(lanche)"
                  >
                    <mat-icon>remove</mat-icon>
                  </button>
                  <span class="qtd">{{ lanche.qtd }}</span>
                  <button
                    mat-icon-button
                    color="primary"
                    (click)="onAddLanche(lanche)"
                  >
                    <mat-icon>add</mat-icon>
                  </button>
                </div>
              </mat-list-item>
            </mat-list>
          </mat-expansion-panel>
        </mat-accordion>
      </div>

      <div class="bebidas-form">
        <mat-accordion multi>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Bebidas </mat-panel-title>
              <mat-panel-description class="show-qtd">
                Qtd. {{ show_qtd_bebida }}
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-list class="text-align-start">
              <tr class="width-100">
                <th class="bebida-nome">Bebida</th>
                <th class="bebida-marca">Marca</th>
                <th class="bebida-litragem">Litragem</th>
                <th class="bebida-sabor">Sabor</th>
                <th class="bebida-preco">Preço</th>
              </tr>
              <mat-list-item *ngFor="let bebida of bebidas$ | async">
                <table class="width-100">
                  <tr>
                    <td class="colunas-bebida-nome">{{ bebida.nome }}</td>
                    <td class="colunas-bebida-marca">{{ bebida.marca }}</td>
                    <td class="colunas-bebida-litragem">
                      {{ bebida.litragem }}
                    </td>
                    <td class="colunas-bebida-sabor">{{ bebida.sabor }}</td>
                    <td class="colunas-bebida-preco">R$ {{ bebida.preco }}</td>
                  </tr>
                </table>
                <div matListItemMeta>
                  <button
                    mat-icon-button
                    color="warn"
                    (click)="onRemoveBebida(bebida)"
                  >
                    <mat-icon>remove</mat-icon>
                  </button>

                  <span class="qtd">{{ bebida.qtd }}</span>
                  <button
                    mat-icon-button
                    color="primary"
                    (click)="onAddBebida(bebida)"
                  >
                    <mat-icon>add</mat-icon>
                  </button>
                </div>
              </mat-list-item>
            </mat-list>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div class="text-align-start">
        <mat-form-field class="endereco">
          <input matInput placeholder="Rua" formControlName="rua" />
        </mat-form-field>
        <mat-form-field class="endereco">
          <input matInput placeholder="Bairro" formControlName="bairro" />
        </mat-form-field>
        <mat-form-field class="endereco-numero">
          <input matInput placeholder="N°" formControlName="numero" />
        </mat-form-field>
      </div>
      <div class="pagamento pagamento-select">
        <mat-form-field>
          <mat-label>Pagamento</mat-label>
          <mat-select formControlName="tipoPagamento">
            <mat-option value="DINHEIRO" (click)="onPagamento('DINHEIRO')"
              >Dinheiro</mat-option
            >
            <mat-option value="DEBITO" (click)="onPagamento('DEBITO')"
              >Débito</mat-option
            >
            <mat-option value="CREDITO" (click)="onPagamento('CREDITO')"
              >Crédito</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
      <div class="pagamento pagamento-data">
        <div class="text">Taxa: R$ {{ taxa }}</div>
        <div class="text">Total: R$ {{ total }}</div>
      </div>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <button
      mat-raised-button
      color="primary"
      class="btSave"
      (click)="onSubmit()"
    >
      Salvar
    </button>
    <button mat-raised-button class="btCancel" (click)="onCancel()">
      Cancelar
    </button>
  </mat-card-actions>
</mat-card>
