<mat-card>
  <mat-card-header>
    <mat-toolbar color="primary"> Dados do Pedido </mat-toolbar>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="form" class="min-width">
      <div>
        <mat-accordion multi>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Lanches </mat-panel-title>
              <mat-panel-description class="show-qtd">
                Qtd. {{ show_qtd_lanche }}
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-list class="text-align-start">
              <mat-list-item *ngFor="let lanche of lanches$ | async">
                {{ lanche.nome }} | {{ lanche.descricao }} | R${{
                  lanche.preco
                }}
                <div matListItemMeta>
                  <button
                    mat-icon-button
                    color="warn"
                    (click)="onRemoveLanche(lanche)"
                  >
                    <mat-icon>remove</mat-icon>
                  </button>
                  <span class="qtd">{{ lanche.qtd }}</span>
                  <button
                    mat-icon-button
                    color="primary"
                    (click)="onAddLanche(lanche)"
                  >
                    <mat-icon>add</mat-icon>
                  </button>
                </div>
              </mat-list-item>
            </mat-list>
          </mat-expansion-panel>
        </mat-accordion>
      </div>

      <div class="bebidas-form">
        <mat-accordion multi>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Bebidas </mat-panel-title>
              <mat-panel-description class="show-qtd">
                Qtd. {{ show_qtd_bebida }}
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-list class="text-align-start">
              <mat-list-item *ngFor="let bebida of bebidas$ | async">
                {{ bebida.nome }}
                <div matListItemMeta>
                  <button
                    mat-icon-button
                    color="warn"
                    (click)="onRemoveBebida(bebida)"
                  >
                    <mat-icon>remove</mat-icon>
                  </button>

                  <span class="qtd" *ngIf="verificaIdBebida(bebida)">{{ bebida.qtd }}</span>
                  <button
                    mat-icon-button
                    color="primary"
                    (click)="onAddBebida(bebida)"
                  >
                    <mat-icon>add</mat-icon>
                  </button>
                </div>
              </mat-list-item>
            </mat-list>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div class="text-align-start">
        <mat-form-field class="endereco">
          <input matInput placeholder="Rua" formControlName="rua" />
        </mat-form-field>
        <mat-form-field class="endereco">
          <input matInput placeholder="Bairro" formControlName="bairro" />
        </mat-form-field>
        <mat-form-field class="endereco-numero">
          <input matInput placeholder="N°" formControlName="numero" />
        </mat-form-field>
      </div>
      <div class="text-align-start">
        <mat-form-field>
          <mat-label>Pagamento</mat-label>
          <mat-select formControlName="tipoPagamento">
            <mat-option value="DINHEIRO">Dinheiro</mat-option>
            <mat-option value="DEBITO">Débito</mat-option>
            <mat-option value="CREDITO">Crédito</mat-option>
          </mat-select>
        </mat-form-field>
        Taxa: R$ 2.75 Total: 12.75
      </div>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <button
      mat-raised-button
      color="primary"
      class="btSave"
      (click)="onSubmit()"
    >
      Salvar
    </button>
    <button mat-raised-button class="btCancel" (click)="onCancel()">
      Cancelar
    </button>
  </mat-card-actions>

</mat-card>
