
.text-align-start{
  text-align: start;
}

.show-qtd{
  padding: 0px 0px 0px 1150px;
}
.qtd{
  font-size: 18px;
  font-weight: bolder;

}

.pagamento{
  display: inline-block;
}

.text{
  display: inline-block;
  font-size: 18px;
  font-style: normal;
  padding: 0px 45px 0px 0px;
}


.pagamento-data{
  width: 24%;
  padding: 0px 806px 0px 0px;
}

.pagamento-select{
  padding: 0px 8px 0px 0px;
}

.endereco{
  padding: 0px 10px 0px 0px;
  width: 600px;
}

.endereco-numero{
  width: 100px;
}



.bebidas-form{
  padding: 10px 0px 10px 0px;

}
