.text-align-start {
  text-align: start;

}

mat-list-item {
  padding: 0px 0px 0px 0px;
}

.show-qtd {
  padding: 0px 0px 0px 1150px;
}

.qtd {
  font-size: 18px;
  font-weight: bolder;

}

//Colunas Lanche

.colunas-lanche-nome {
  width: 20%;
}

.colunas-lanche-descricao {
  width: 74%;
}

.colunas-lanche-preco {
 
}

//--------------
//Colunas Bebida

.colunas-bebida {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  display: inline-block;
}

.colunas-bebida-preco {
  display: inline-block;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

//---------


.text {
  display: inline-block;
  text-align: start;
  font-size: 18px;
  font-style: normal;
  padding: 0px 98px 0px 0px;
}


.pagamento-data {
  width: 33%;
  padding: 0px 0px 0px 0px;
}

.pagamento-select {

  text-align: start;
}

.endereco {
  padding: 0px 10px 0px 0px;
  width: 600px;
}

.endereco-numero {
  width: 100px;
}



.bebidas-form {
  padding: 10px 0px 10px 0px;

}
