
.text-align-start{
  text-align: start;
}

.show-qtd{
  padding: 0px 0px 0px 1150px;
}
.qtd{
  font-size: 18px;
  font-weight: bolder;

}

.endereco{
  padding: 0px 10px 0px 0px;
  width: 600px;
}

.endereco-numero{
  width: 100px;
}




.bebidas-form{
  padding: 10px 0px 10px 0px;

}
