<mat-card>
  <mat-card-header>
    <mat-toolbar color="primary"> Pedidos Disponíveis </mat-toolbar>
  </mat-card-header>
  <div *ngIf="pedidos$ | async as pedidos">
    <mat-table [dataSource]="pedidos" class="mat-elevation-z8">
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef class="id"> ID </mat-header-cell>
        <mat-cell *matCellDef="let pedido" class="id">
          {{ pedido.id }}
        </mat-cell>
      </ng-container>

      <!-- Lanches Column -->
      <ng-container matColumnDef="lanches">
        <mat-header-cell *matHeaderCellDef> Lanches </mat-header-cell>
        <mat-cell *matCellDef="let pedido">
          <mat-accordion>
            <mat-expansion-panel
              (opened)="panelOpenState = true"
              (closed)="panelOpenState = false"
            >
              <mat-expansion-panel-header>
                <mat-panel-title> Lanches </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-list>
                <mat-list-item *ngFor="let lanche of pedido.lanches">
                  {{ lanche.nome }} R${{ lanche.preco }}
                </mat-list-item>
                <mat-divider></mat-divider>
              </mat-list>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-cell>
      </ng-container>

      <!-- Bebidas Column -->
      <ng-container matColumnDef="bebidas">
        <mat-header-cell *matHeaderCellDef> Bebidas </mat-header-cell>
        <mat-cell *matCellDef="let pedido">
          <mat-accordion>
            <mat-expansion-panel
              (opened)="panelOpenState = true"
              (closed)="panelOpenState = false"
            >
              <mat-expansion-panel-header>
                <mat-panel-title> Bebidas </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-list>
                <mat-list-item *ngFor="let bebida of pedido.bebidas"
                  >{{ bebida.marca }} R${{ bebida.preco }}</mat-list-item
                >
                <mat-divider></mat-divider>
              </mat-list>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-cell>
      </ng-container>

      <!-- Taxa Column -->
      <ng-container matColumnDef="taxa">
        <mat-header-cell *matHeaderCellDef class="smallColumnTaxa">
          Taxa
        </mat-header-cell>
        <mat-cell *matCellDef="let pedido" class="smallColumnTaxa">
          {{ pedido.taxa }}
        </mat-cell>
      </ng-container>

      <!-- Pagamento Column -->
      <ng-container matColumnDef="pagamento">
        <mat-header-cell *matHeaderCellDef class="smallColumn">
          Pagamento
        </mat-header-cell>
        <mat-cell *matCellDef="let pedido" class="smallColumn">
          {{ pedido.tipoPagamento }}
        </mat-cell>
      </ng-container>

      <!-- Total Column -->
      <ng-container matColumnDef="total">
        <mat-header-cell *matHeaderCellDef class="smallColumn">
          Total
        </mat-header-cell>
        <mat-cell *matCellDef="let pedido" class="smallColumn">
          R${{ pedido.total }}
        </mat-cell>
      </ng-container>

      <mat-header-row
        *matHeaderRowDef="displayedColumnsLanche"
      ></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumnsLanche"></mat-row>
    </mat-table>
  </div>
</mat-card>
