<mat-card>
  <mat-card-header>
    <mat-toolbar color="primary"> Endereços </mat-toolbar>
  </mat-card-header>

  <div
    *ngIf="enderecos$ | async as enderecos; else loading"
    class="mat-elevation-z8"
  >
    <app-enderecos-list
      [enderecos]="enderecos"
      (add)="onAdd()"
      (edit)="onEdit($event)"
      (remove)="onRemove($event)"
    >
    </app-enderecos-list>
  </div>

  <ng-template #loading>
    <div class="loading-spinner">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</mat-card>
<div class="home">
  <button mat-raised-button color="primary" (click)="onHome()">Início</button>
</div>
