<mat-card>
  <mat-card-header>
    <mat-toolbar color="primary"> Dados do Pedido </mat-toolbar>
  </mat-card-header>

  <mat-card-content>
    <form class="min-width">
      <div>
        <mat-accordion multi>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Lanches </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-list class="text-align-start">
              <mat-list-item *ngFor="let lanche of lanches$ | async">
                {{ lanche.nome }}
                <div matListItemMeta>
                  <button
                    mat-icon-button
                    color="warn"
                    (click)="onRemove(lanche)"
                  >
                    <mat-icon>remove</mat-icon>
                  </button>
                  <span class="qtd">{{ lanche.qtd }}</span>
                  <button
                    mat-icon-button
                    color="primary"
                    (click)="onAdd(lanche)"
                  >
                    <mat-icon>add</mat-icon>
                  </button>
                </div>
              </mat-list-item>
            </mat-list>
          </mat-expansion-panel>
        </mat-accordion>
      </div>

      <div class="bebidas-form">
        <mat-accordion multi>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Bebidas </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-list class="text-align-start">
              <mat-list-item *ngFor="let bebida of bebidas$ | async">
                {{ bebida.nome }}
                <div matListItemMeta>
                  <button
                    mat-icon-button
                    color="warn"
                    (click)="onRemove(bebida)"
                  >
                    <mat-icon>remove</mat-icon>
                  </button>
                  <span class="qtd">{{ bebida.qtd }}</span>
                  <button
                    mat-icon-button
                    color="primary"
                    (click)="onAdd(bebida)"
                  >
                    <mat-icon>add</mat-icon>
                  </button>
                </div>
              </mat-list-item>
            </mat-list>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div class="text-align-start">
        <mat-form-field class="endereco">
          <input matInput placeholder="Rua" />
        </mat-form-field>
        <mat-form-field class="endereco">
          <input matInput placeholder="Bairro" />
        </mat-form-field>
        <mat-form-field class="endereco-numero">
          <input matInput placeholder="N°" />
        </mat-form-field>
      </div>
      <div class="text-align-start">
        <mat-form-field>
          <mat-label>Pagamento</mat-label>
          <mat-select>
            <mat-option value="dinheiro">Dinheiro</mat-option>
            <mat-option value="debito">Débito</mat-option>
            <mat-option value="credito">Crédito</mat-option>
          </mat-select>
        </mat-form-field>
        Taxa: R$ 2.75 Total: 12.75
      </div>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <button
      mat-raised-button
      color="primary"
      class="btSave"
      (click)="onSubmit()"
    >
      Salvar
    </button>
    <button mat-raised-button class="btCancel" (click)="onCancel()">
      Cancelar
    </button>
  </mat-card-actions>
</mat-card>
