<mat-card>
  <mat-card-header>
    <mat-toolbar color="primary"> Dados do Pedido </mat-toolbar>
  </mat-card-header>

  <mat-card-content>
    <form class="min-width">
      <div>
        <mat-accordion multi>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Lanches </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-list class="lanches-form-input">
              <mat-list-item *ngFor="let lanche of lanches">
                {{lanche.nome}}
                <div matListItemMeta>
                  <button mat-icon-button color="primary">
                    <mat-icon>add</mat-icon>
                  </button>
                  <span class="qtd">10</span>
                  <button mat-icon-button color="warn">
                    <mat-icon>remove</mat-icon>
                  </button>
                </div>
              </mat-list-item>
            </mat-list>
          </mat-expansion-panel>
        </mat-accordion>
      </div>

      <div class="bebidas-form">
        <mat-accordion multi>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Bebidas </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-list class="lanches-form-input">
              <mat-list-item>
                Item 2
                <div matListItemMeta>
                  <button mat-icon-button color="primary">
                    <mat-icon>add</mat-icon>
                  </button>
                  <span class="qtd">10</span>
                  <button mat-icon-button color="warn">
                    <mat-icon>remove</mat-icon>
                  </button>
                </div>
              </mat-list-item>
            </mat-list>
          </mat-expansion-panel>
        </mat-accordion>
      </div>

      <mat-form-field class="full-width">
        <input matInput placeholder="Test" />
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <button
      mat-raised-button
      color="primary"
      class="btSave"
      (click)="onSubmit()"
    >
      Salvar
    </button>
    <button mat-raised-button class="btCancel" (click)="onCancel()">
      Cancelar
    </button>
  </mat-card-actions>
</mat-card>
