<mat-card>
  <mat-card-header id="tituloHome">
    <mat-card-title>Lanchonete</mat-card-title>
    <mat-card-subtitle>Bem-Vindo(a)</mat-card-subtitle>
  </mat-card-header>

  <div class="actionButton">
    <button mat-raised-button color="primary" (click)="onPedidos()">
      Pedidos
    </button>
    <button mat-raised-button color="primary" (click)="onLanches()">
      Lanches
    </button>
    <button mat-raised-button color="primary" (click)="onBebidas()">
      Bebidas
    </button>
  </div>
</mat-card>
