.actionButton {
  display: table-cell;
  text-align: center;

}

.initButton{
  width: 100px;
}

#tituloHome{
  display: table-cell;
}

.actionButton .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}
mat-card {
  max-width: 90%;
  margin: 2em auto;
  text-align: center;
}
